nav {
  position: absolute !important;
  z-index: 1000 !important;
  text-align: center !important;
}

.nav-bar {
  background: #223d4b !important;
}

.nav-tabs {
  margin: 10px 0;
}

.logo {
  margin: auto;
  display: inline-block;
}

.title-bar {
  width: 100% !important;
  height: 98px;
  color: #fff;
  background-color: #888888 !important;
}

.logo-container {
  width: 100%;
  position: absolute;
  margin-left: -10px;
  margin-right: auto;
  text-align: center;
}
