#bottle {
    padding: 0;
    width: 130px;
    margin: auto !important;
    margin-top: 100px !important;
    float: left;
    display: block;
}

.slider-container {
    padding: auto;
    display: block;
    height: 450px;
    margin: auto;
    width: 80%;
}

.qty-container {
    width: 80%;
    margin: auto;
    text-align: center;
}