.footer {
    padding-left: 3em;
    padding-right: 3em;
    height: 250px;
    background: rgb(204, 207, 218);
    margin-bottom: 0px; 
    line-height: .5px;
    font-size: 12px;
}

.footer hr {
    margin-top: 30px; 
}

.information {
  float: left;
}

.customer-service {
  float: right;
}

.customer-service li {
    text-align: right;
}

.copy-right {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}
