.footer {
    padding-left: 3em;
    padding-right: 3em;
    height: 230px;
    background: rgb(204, 207, 218);
    margin-bottom: 0px; 
    line-height: .5px;
    font-size: 12px;
}

.footer hr {
    margin-top: 30px; 
}

.information {
    float: left;
}

.customer-service {
    float: right;
}

.customer-service li {
    text-align: right;
}

.copyright {
    width: 100%;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}