.footer {
<<<<<<< HEAD
    padding-left: 3em;
    padding-right: 3em;
    height: 230px;
    background: rgb(204, 207, 218);
    margin-bottom: 0px; 
    line-height: .5px;
    font-size: 12px;
}

.footer hr {
    margin-top: 30px; 
=======
  padding-left: 30px;
  padding-right: 30px;
  height: 300px;
  background: grey;
  margin-bottom: 0px;
>>>>>>> dd9efa5195b617e95df7613b55f04a506ede2f16
}

.information {
  float: left;
}

.customer-service {
  float: right;
}

.customer-service li {
    text-align: right;
}

.copyright {
  width: 100%;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}
