.locations-list {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.locations-list Button {
    background: rgb(137, 220, 223) !important;
    margin: auto !important;
}

.locations-list Button:hover {
    background: rgb(45, 117, 119) !important;
}

.location-preview ul {
    width: 100% !important;
}

.station-link {
    width: 80% !important;
    margin: auto;
}