.locations-list {
  z-index: 1 !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.locations-list button:hover {
  background: rgb(45, 117, 119) !important;
}

.location-preview ul {
  width: 100% !important;
}

.station-link {
  width: 80% !important;
  margin: auto;
}
