#signIn {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #ededed url("/assets/imgs/alcoholic-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
  background-attachment: fixed;
  position: absolute;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  height: 94%;
  margin: 20px auto !important;
}

main > form {
  margin: auto !important;
}

form > .input-field {
  margin: auto !important;
  padding: auto;
}

img {
  margin: auto !important;
}

ul {
  margin: auto !important;
}

button {
  margin-top: 20px;;
  margin: auto !important;
}

.MuiFormControl {
  margin: auto !important;
}

[label=username], [label=password] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[label=username], [label=password] {
margin: auto !important;
}